aiodns
aiohappyeyeballs
aiohttp
aiosignal
alabaster
annotated-types
anyio
applaunchservices
appnope
arrow
astroid
asttokens
asyncssh
atomicwrites==1.4.0
attrs
audioop-lts==0.2.2
autopep8
babel
bcrypt
beautifulsoup4
binaryornot
black
bleach
Brotli
cattrs
certifi
cffi
chardet
charset-normalizer
click==8.1.8
cloudpickle
colorama
comm
contourpy==1.3.3
cookiecutter
cryptography
cycler==0.12.1
debugpy
decorator
defusedxml
Deprecated
diff-match-patch
dill
distro
docstring-to-markdown
docutils
exceptiongroup
executing
fastjsonschema
flake8
fonttools==4.61.0
frozenlist
gTTS==2.5.4
h11
h2
hpack
httpcore
httpx
hyperframe
idna
imagesize
importlib_metadata
inflection
intervaltree
ipykernel
ipython
ipython_pygments_lexers
isort
jaraco.classes
jaraco.context
jaraco.functools
jedi
jellyfish
Jinja2
jiter
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
keyring
kiwisolver==1.4.9
lsprotocol
markdown-it-py
MarkupSafe
matplotlib==3.10.8
matplotlib-inline
mccabe
mdurl
mistune
more-itertools
multidict
mypy_extensions
nbclient
nbconvert
nbformat
nest_asyncio
numpy
numpydoc
openai
packaging
pandocfilters
parso
pathspec
pexpect
pickleshare
pillow==12.0.0
platformdirs
pluggy
prompt_toolkit
propcache
psutil
ptyprocess
pure_eval
pycares
pycodestyle
pycparser
pydantic
pydantic_core
pydocstyle
pyflakes
PyGithub
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
PyNaCl
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-CoreServices
pyobjc-framework-FSEvents
pyparsing==3.2.5
PyQt6==6.9.1
PyQt6-WebEngine==6.9.0
PyQt6_sip
PySocks
python-dateutil
python-dotenv==1.2.1
python-lsp-black
python-lsp-jsonrpc
python-lsp-ruff
python-lsp-server
python-slugify
pytokens
pytoolconfig
pyuca
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
referencing
requests
rich
roman-numerals-py
rope
rpds-py
rtree
ruff
setuptools==80.9.0
sip
six
sniffio
snowballstemmer
sortedcontainers
sounddevice==0.5.3
soundfile==0.13.1
soupsieve
SpeechRecognition==3.14.4
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
stack_data
standard-aifc==3.13.0
standard-chunk==3.13.0
superqt
text-unidecode
textdistance
three-merge
tinycss2
tomlkit
tornado
tqdm
traitlets
typing-inspection
typing_extensions
tzdata
ujson
urllib3
uvloop
watchdog
wcwidth
webencodings
whatthepatch
wheel==0.45.1
wrapt
wurlitzer
yapf
yarl
zipp
zstandard==0.25.0
